@model Item
@{
    ViewData["Title"] = "Delete Item";
    ViewBag.Title = "Delete Item";
}

<h1>Delete Item</h1>
<form asp-controller="Item" asp-action="DeleteConfirm" 
    asp-route-id="@Model.ItemId" method="post">
    <p>Do you really want to delete <b>@Model.ItemName</b>?</p>
    <button type="submit">Yes</button>
    <a asp-controller="Home" asp-action="Index" 
                asp-route-id ="@Model.ItemId">No</a>
</form>
