@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Bidding Web Application</h1>
    <p>Purchase, Add, Search, Delete items with our bidding app</p>
</div>
